header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main, .question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    margin: 0 30px 30px 30px;
}

#full-grid, form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#grid {
    display: grid;
    grid-template: repeat(33, 1fr) / repeat(7, 1fr);
    width: 700px;
    height: 800px;
    margin: 50px 0 50px 0;
}

#time-labels {
    display: grid;
    grid-template: repeat(33, 1fr) / auto;
    height: 800px;
    margin: 50px 10px 50px 10px;
}

button {
    background-color: white;
    border: solid 0.5px black;
}

.label {
    text-align: center;
    border: none;
}

.selected {
    font-weight: bold;
    border: solid 3px black;
}

footer {
    margin: 100px 0 0 0;
    text-align: center;
}