form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: grid;
    grid-template: repeat(48, 1fr) / repeat(7, 1fr);
    border: solid 2px black;
    width: 700px;
    height: 1000px;
    margin: 50px 0 50px 0;
}

div {
    background-color: white;
    border: solid 1px black;
}

.hovering {
    background-color: lightyellow;
}

.selected {
    background-color: green;
}