#response-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#load-responses {
    margin-top: 10px;
    font-size: 20px;
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 5px;
}

.selector {
    margin: 5px;
    height: 30px;
    font-size: 15px;
}

#user-levels {
    margin: 0 20px 0 0;
}